

<nav class="navbar" style="background-color: #b9531d;" >
  <div class="container-fluid">
    <div class="navbar-header">
    
    </div>
    <a class="navbar-brand space"  style="font-family:verdana;"> <b>Online Cab Booking </b></a>
    <form class="navbar-form navbar-right" action="/action_page.php">
      <!-- <button type="submit" (click)="signUp()" class="btn btn-default">Register</button>     -->
      <button type="submit" (click)="Logout()" class="btn btn-default" >Logout</button>
    </form>
  </div>
</nav>


