.col{
    background-color: black;
}
.container-fluid{
    margin: 0px;
    padding: 0px;
    background-image:url("../../assets/img/car1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }